[submodule "src/solr/discovery-solr-core-confs"]
	path = src/solr/discovery-solr-core-confs
	url = git@github.com:nyudlts/discovery-solr-core-confs.git
	branch = opensquare-v1
[submodule "src/dlts-epub-metadata"]
	path = src/dlts-epub-metadata
	url = git@github.com:NYULibraries/dlts-epub-metadata.git
	branch = main
